<section class="welcome" style="background-image: url('../assets/img/base/hero-img.png');">

    <article class="welcome__article">
        <h1>
            <span>Lorem ipsum</span>
            about us
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam amet autem beatae corporis earum enim facere minima, modi, officiis placeat quaerat quam vitae voluptas. Assumenda harum libero quae!
        </p>
    </article>

</section>