<div class="product-page" ng-controller="ProductsController">
    <section ng-show="welcome" class="welcome" style="background-image: url('{{welcome.img}}');">

        <article class="welcome__article" ng-show="welcome.text">
            <h1 ng-show="welcome.text.title">
                <span ng-show="welcome.text.title.sub">{{welcome.text.title.sub}}</span>
                {{welcome.text.title.main}}
            </h1>
            <p ng-show="welcome.text.description">
                {{welcome.text.description}}
            </p>
        </article>
    </section>

    <section class="products-wrapper">
        <article ng-repeat="category in products">

            <h3 class="h2 text-center category-title">
                <div ng-show="category.icon" class="{{category.icon}}"></div>
                <span ng-show="category.icon" class="text-hide">{{category.icon.alt}}</span>
                {{category.title}}
            </h3>

            <div class="category">
                <figure ng-show="product" class="product {{product.type}}" ng-repeat="product in category.items">
                    <img class="product__image {{product.size}}"
                         ng-src="{{product.image}}"
                         alt="{{product.name}}"
                    >
                    <figcaption class="h6 product__name">{{product.name}}</figcaption>
                </figure>
            </div>
        </article>
    </section>
</div>