[class^="icon-"], [class*=" icon-"] {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-bio {
  background-image: url("../img/icons/badge-bio.png");
  @include fluid-up-to-4k('width', 80px);
  @include fluid-up-to-4k('height', 49px);
}

.icon-wheat {
  background-image: url("../img/icons/badge-glutenmentes.png");
  @include fluid-up-to-4k('width', 51px);
  @include fluid-up-to-4k('height', 50px);
}