@mixin poly-fluid-sizing($property, $map) {
  // Get the number of provided breakpoints
  $length: length(map-keys($map));

  // Error if the number of breakpoints is < 2
  @if ($length < 2) {
    @error "poly-fluid-sizing() $map requires at least values"
  }

  // Sort the map by viewport width (key)
  $map: map-sort($map);
  $keys: map-keys($map);

  // Minimum size
  #{$property}: map-get($map, nth($keys,1));

  // Interpolated size through breakpoints
  @for $i from 1 through ($length - 1) {
    @media (min-width:nth($keys,$i)) {
      #{$property}: linear-interpolation((nth($keys,$i): map-get($map, nth($keys,$i)), nth($keys,($i+1)): map-get($map, nth($keys,($i + 1)))));
    }
  }

  // Maxmimum size
  @media (min-width:nth($keys,$length)) {
    #{$property}: map-get($map, nth($keys,$length));
  }
}

// Make fluid from 1920 to 3840
@mixin fluid-up-to-4k($property, $value) {
  $map: (
          1920px: $value,
          3840px: $value * 2
  );
  @include poly-fluid-sizing($property, $map);
}

@mixin responsive-margin-bottom($value) {
  // margin-bottom
  $map: (
          576px: $value - 10,
          768px: $value - 8,
          992px: $value - 6,
          1200px: $value,
          1920px: $value + 5,
          3840px: $value * 2
  );
  @include poly-fluid-sizing('margin-bottom', $map);
}

@mixin responsive-padding-bottom($value) {
  // padding-bottom
  $map: (
          576px: $value - 10,
          768px: $value - 8,
          992px: $value - 6,
          1200px: $value,
          1920px: $value + 5,
          3840px: $value * 2
  );
  @include poly-fluid-sizing('padding-bottom', $map);
}

@mixin responsive-padding-top($value) {
  // padding-top
  $map: (
          576px: $value - 10,
          768px: $value - 8,
          992px: $value - 6,
          1200px: $value,
          1920px: $value + 5,
          3840px: $value * 2
  );
  @include poly-fluid-sizing('padding-top', $map);
}

@mixin responsive-font-size($value) {
  // font-size
  $map: (
          576px: ($value) - 5,
          768px: ($value) - 4,
          992px: ($value) - 2,
          1200px: $value,
          1920px: ($value) + 2,
          3840px: ($value) * 2
  );
  @include poly-fluid-sizing('font-size', $map);
}

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin css3-transition($what: all, $length: 1s, $easing: ease-in-out) {
  @include css3-prefix('transition', $what $length $easing);
}

// default
@mixin default-transition()			{ @include css3-transition(all, 0.5s, ease); };

@mixin default-linear-gradiend() {
  background-image: -webkit-linear-gradient(225deg, #EEE8E8 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(225deg, #EEE8E8 0%, #FFFFFF 100%);
  background-image: linear-gradient(-135deg, #EEE8E8 0%, #FFFFFF 100%);
}