
p,
.p {
  font-family: $default-font-family;
  color: $text-color;
  line-height: $default-line-height;
  margin: 0;
  @include responsive-margin-bottom($default-text-margin-bottom);
  @include responsive-font-size($default-font-size);

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
}

h1,
.h1 {
  font-family: $default-font-family;
  color: $text-color;
  line-height: $default-line-height;
  margin: 0;
  @include responsive-margin-bottom($default-text-margin-bottom);
  @include responsive-font-size($h1-font-size);
  font-weight: 800;
  text-transform: uppercase;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: 35px;
  }
}

h2,
.h2 {
  font-family: $default-font-family;
  color: $text-color;
  line-height: $default-line-height;
  margin: 0;
  @include responsive-margin-bottom($default-text-margin-bottom);
  @include responsive-font-size($h2-font-size);
  text-transform: uppercase;

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: $h2-font-size - 10;
  }
}

h3,
.h3 {
  font-family: $default-font-family;
  color: $text-color;
  line-height: $default-line-height;
  margin: 0;
  @include responsive-margin-bottom($default-text-margin-bottom);
  @include responsive-font-size($h3-font-size);

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: $h3-font-size - 5;
  }
}

h4,
.h4 {
  font-family: $default-font-family;
  color: $text-color;
  line-height: $default-line-height;
  margin: 0;
  @include responsive-margin-bottom($default-text-margin-bottom);
  @include responsive-font-size($h4-font-size);

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: $h4-font-size;
  }
}

h5,
.h5 {
  font-family: $default-font-family;
  color: $text-color;
  line-height: $default-line-height;
  margin: 0;
  @include responsive-margin-bottom($default-text-margin-bottom);
  @include responsive-font-size($h5-font-size);

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: $h5-font-size;
  }
}

h6,
.h6 {
  font-family: $default-font-family;
  color: $text-color;
  font-weight: 800;
  text-transform: uppercase;
  line-height: $default-line-height;
  margin: 0;
  @include responsive-margin-bottom($default-text-margin-bottom);
  @include responsive-font-size($h6-font-size);

  // mobile
  @include media-breakpoint-down(sm) {
    font-size: $h6-font-size;
  }
}



.unordered-list--underline {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  li {
    height: 100%;
    padding: 0 15px;

    a {
      display: block;
      @include fluid-up-to-4k('font-size', 15px);
      text-transform: uppercase;
      text-decoration: none;
      color: $text-color;
      @include default-transition;

      // desktop
      @include media-breakpoint-up(xl) {
        position: relative;

        &:before {
          @include default-transition;
          content: '';
          position: absolute;
          bottom: -2px;
          width: 0;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          height: 1px;
          background-color: $brand-primary;
        }

        &:hover {
          color: $brand-primary;

          &:before {
            width: 100%;
          }
        }

        &.active {
          color: $brand-primary;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}

.text-hide {
  display: inline-block !important;
  pointer-events: none !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  text-indent: -1000000px !important;
  visibility: hidden !important;
  position: absolute !important;
  color: transparent !important;
}