
// Colors //
$colors: (
  white:      #ffffff,
  light-gray: #6A6A6A,
  green:      #61BB47
);

$text-color:      map-get($colors, light-gray);
$brand-primary:   map-get($colors, green);


// Texts //
$default-line-height:         1.2;
$default-font-family:         'Open Sans', 'sans-serif';
$default-text-margin-bottom:  25px;
$default-font-size:           15px;

$h1-font-size:                50px;
$h2-font-size:                35px;
$h3-font-size:                28px;
$h4-font-size:                24px;
$h5-font-size:                18px;
$h6-font-size:                $default-font-size;