<footer class="footer">
    <nav class="footer__top">
        <ul>
            <li ng-repeat="menu in menus">
                <a data-ng-class="setMenu(menu.url)" data-ng-href="{{menu.url}}">{{menu.name}}</a>
            </li>
        </ul>
    </nav>
    <div class="footer__bottom">
        <p>
            Abonett Ltd. - All rights reserved
        </p>
    </div>
</footer>