<header class="header">
    <nav class="header__logo">
        <a href="../">
            <img src="assets/img/base/abonett-logo-shadow.png" alt="Abonett">
        </a>
    </nav>
    <nav class="header__menu">

        <div class="header__toggler" data-ng-click="$scope.menuOpen = !$scope.menuOpen">
            <div class="hamburger hamburger--spring js-hamburger" data-ng-class="{'is-active' : $scope.menuOpen}">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            navigation
        </div>

        <ul data-ng-class="{'is-active' : $scope.menuOpen}">
            <li ng-repeat="menu in menus">
                <a data-ng-class="setMenu(menu.url)" href="{{menu.url}}">{{menu.name}}</a>
            </li>
        </ul>
    </nav>
</header>