.footer {

  /* Footer Menu List */
  &__top {
    width: 100%;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.12);
    background-color: map-get($colors, white);

    ul {
      @extend .unordered-list--underline;
      margin-left: auto;
      margin-right: auto;
      flex: 0 0 75%;
      max-width: 75%;
      @include fluid-up-to-4k('min-height', 55px);

      // mobile
      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
        flex-wrap: wrap;

        li {
          padding-top: 10px;
          padding-bottom: 10px;
          min-width: 100px;
          text-align: center;
        }
      }
    }
  }

  /* Footer Copyright */
  &__bottom {
    @include default-linear-gradiend;
    @include fluid-up-to-4k('padding-top', 40px);
    @include fluid-up-to-4k('padding-bottom', 40px);

    p {
      $font-size: $default-font-size - 1;
      margin-bottom: 0;
      text-align: center;
      @include fluid-up-to-4k('font-size', $font-size)
    }
  }
}