body {
  font-family: 'Open Sans', 'sans-serif';
  color: $text-color;
  line-height: $default-line-height;
}

.welcome {
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  // min-height
  $map: (
          576px: 500px,
          768px: 500px,
          992px: 500px,
          1200px: 580px,
          1920px: 700px,
          3840px: 1400px
  );
  @include poly-fluid-sizing('min-height', $map);

  // mobile
  @include media-breakpoint-down(sm) {
    min-height: auto;
    padding-top: 215px;
  }

  &__article {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 15px;
    background-color: rgba(#1B1F21,.6);

    // min-width
    $map: (
            576px: 320px,
            768px: 680px,
            992px: 840px,
            1200px: 860px,
            1920px: 940px,
            3840px: 1880px
    );
    @include poly-fluid-sizing('min-width', $map);

    // mobile
    @include media-breakpoint-down(sm) {
      position: relative;
      left: 0;
      top: 0;
      min-width: 0;
      width: 100%;
      transform: translateX(0%);
      padding: 45px 15px;
    }

    * {
      color: map-get($colors, white);
    }

    h1 {
      position: relative;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.1em;
      @include responsive-padding-bottom($default-text-margin-bottom);

      &:before {
        content: '';
        background-color: map-get($colors, white);
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
      }

      span {
        display: block;
        font-weight: 300;
        line-height: 1.6;
      }

      // mobile
      @include media-breakpoint-down(sm) {
        &,
        span {
          line-height: 1.6;
        }
      }
    }

    p {
      line-height: 2;
      width: 60%;
      margin-left: auto;
      margin-right: auto;

      // mobile
      @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 450px;
      }
    }
  }
}